body {
    background-color: #ffffff;
  }

h1 {
    color: #FF3355;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: larger;
  }

.Container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.WidgetCarusell{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.LAIAWidget{
    background-color: #FF3355;
}

.FormWidget{
    background-color: #5533FF;

}