body {
    background-color: #ffffff;
  }

h1 {
    color: #FF3355;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 400pt;
  }

text {
    font-family: Arial, Helvetica, sans-serif;
}

.Container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.WidgetCarusell{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.LAIAWidget{
    background-color: #FF3355;
    margin: 20pt;
    align-items: center;
    box-shadow: 6px 6px;
    padding: 20pt;
}

.FormWidget{
    background-color: #ffffff;
    margin: 20pt;
    padding: 20pt;
    align-items: center;
    box-shadow: 6px 6px;
}